.btn {
  @include inline-flex();
  @include flex-direction(row);
  @include align-items(center);
  @include justify-content(center);
  border: none;
  width: 10.9em;
  height: 2.9em;
  padding: 1px 10px 0;
  border-radius: 10.9em;
  color: #fff;
  font-size: 1.2em;
  line-height: 1em;
  background: $btn-back;
  text-transform: uppercase;
  @include main-font9();
  -webkit-transition: background 0.3s ease, border 0.3s ease, color 0.3s ease;
  transition: background 0.3s ease, border 0.3s ease, color 0.3s ease;

  &:hover {
    color: $btn-color-hover;
    background: $btn-back-hover;
  }
  &:active {
    color: $btn-color-active;
    background: $btn-back-active;
  }

}
button.btn {

  >span {
    width: 100%;
    text-align: center;
  }

}
.btn_2,
.btn_4,
.btn_5,
.btn_8 {
  background: transparent;
  border: 1px solid #fff;
  width: 226px;
  height: 32px;
  font-size: 14px;
  line-height: 14px;
  margin: 0 0 20px;

  &:hover,
  &.active{
    color: $btn-color-hover;
    background: #fff;
  }
  &:active {
    color: $btn-color-active;
    background: $btn-back-active;
    border-color: $btn-back-active;
  }

}
.btn_3 {
  background: #fff;
  color: #9a073a;
  width: 226px;
  height: 32px;
  font-size: 14px;
  line-height: 14px;
  margin: 0 0 20px;

  &:hover {
    color: $btn-color-active;
    background: $btn-color-hover;
  }
  &:active {
    color: $btn-color-active;
    background: $btn-back-active;
  }

}
.btn_6 {
  width: 100%;
  background: #16accf;
  font-size: 21px;
  line-height: 21px;
  text-transform: none;
  border-radius: 3px;
  @include main-font7();

  &:hover {
    color: $btn-color-active;
    background: #159bbc;
  }
  &:active {
    color: $btn-color-active;
    background: #158bac;
  }

}
.btn_7 {
  background: transparent;
  border: 1px solid #fff;
  width: 226px;
  height: 32px;
  font-size: 14px;
  line-height: 14px;
  margin: 0 0 20px;

  &:hover {
    color: $btn-color-active;
    background: $btn-color-hover;
    border-color: $btn-color-hover;
  }
  &:active {
    color: $btn-color-active;
    background: $btn-back-active;
    border-color: $btn-back-active;
  }

}

@media (min-width: $tablet-portrait) {

  .btn {
    width: 10.4em;
    height: 3em;
    margin: 0 0 0 -8px;
    border-radius: 10.4em;
    font-size: 1em;
    line-height: 1em;
  }
  .btn_2 {
    height: 2.55em;
    width: 13em;
  }
  .btn_4 {
    height: 3em;
    width: 12.7em;
    font-size: 0.78em;
    line-height: 1em;
  }
  .btn_5 {
    height: 3em;
    width: 6em;
    font-size: 0.78em;
    line-height: 1em;
  }
  .btn_6 {
    width: 100%;
    background: #16accf;
    font-size: 21px;
    line-height: 21px;
    text-transform: none;
    border-radius: 3px;
    @include main-font7();
  }
  .btn_7 {
    width: 11.5em;
    height: 3.1em;
    margin: 0 0 0 0;
    border-radius: 11.5em;
    font-size: 0.7em;
    line-height: 1em;
  }
  .btn_8 {
    margin-top: 1.6em;
    width: 13em;
    height: 3.55em;
  }

}