
.case {

  .main-slider {
    position: relative;
    min-height: 0;
    height: 118vh !important;
    margin-top: -4em;

    .main-slider__text {
      position: relative;
      top: 5em;
      text-align: center;

      h2.site__title {
        font-size: 2.6em;
        line-height: 1.1em;
        margin-bottom: 0;
      }
      p {
        margin-bottom: 0;
        text-align: center;
        font-size: 0.9em;
        line-height: 1.4em;
      }
    }
    .swiper-button-next,
    .swiper-button-prev {
      top: 40.8%;
    }
    //.main-slider__btn-down {
    //  bottom: 10em;
    //}
  }
  h2 {
    margin-bottom: 0.5em;
    font-size: 2.85em;
    line-height: 1;
    letter-spacing: 1.6px;
    text-align: center;
    @include  main-font4();
  }
  p {
    max-width: 940px;
    margin: 0 auto 3.39em;
    font-size: 1em;
    line-height: 1.9em;
    text-align: left;
    @include  main-font3();
  }
  img {
    display: block;
    width: 100%;
    height: auto;

    &.aligncenter,
    &.alignnone{
      margin: 0 auto 40px;
    }
    &.alignright {
      float: right;
      margin: 20px 0 20px 20px;

    }
    &.alignleft {
      float: left;
      margin: 20px 20px 20px 0;
    }
  }
  ul,
  ol {
    max-width: 940px;
    margin: 0 auto 3.39em;

    li {
      position: relative;
      font-size: 1em;
      line-height: 1.9em;
      text-align: left;
      @include  main-font3();

      &:before {
        display: inline-block;
        vertical-align: middle;
        height: 6px;
        width: 6px;
        margin-right: 10px;
        border-radius: 50%;
        border: 2px solid #b10e3c;
        content: '';
      }
    }
  }
}
.case__wrap {
  position: relative;
  z-index: 2;
  max-width: 1130px;
  padding: 0 15px;
}
.case__inner {
  margin-bottom: 4em;
}
.case__sliders-row {

  img {
    width: 100%;
    margin-bottom: 44px;
  }
}
.case__sliders-text {
  padding: 20px 0;
  margin-bottom: 40px;

  strong {
    display: block;
    margin-bottom: 14px;
    font-size: 1.01em;
    line-height: 1;
    letter-spacing: 2.8px;
    text-transform: uppercase;
    @include  main-font2();
  }
  p {
    margin-bottom: 0;
    font-size: 1em;
    line-height: 1.89em;
    letter-spacing: -0.3px;
    @include  main-font4();
  }
}

@media screen and (orientation:portrait) {

  .main-slider__btn-down {
    bottom: 10em;
  }
  .case__wrap {
    margin: -4.3em auto 0;
  }

}

@media screen and (orientation:landscape) {

  .main-slider__btn-down {
    bottom: 5em;
  }
  .case__wrap {
    margin: -1.3em auto 0;
  }

}

@media (min-width: $tablet-portrait) {

  .case {

    .main-slider {
      margin-top: -5em;

      .main-slider__text {
        top: 2.2em;

        h2.site__title {
          margin: 0 0 0.055em;
          font-size: 2.88em;
          line-height: 1.1em;
        }
        p {
          font-size: 1.1em;
          line-height: 1.1em;
        }
      }
    }
  }
  .case__inner {
    margin-bottom: 6.6em;
  }
  .case__sliders {
    display: flex;
    justify-content: space-between;
  }
  .case__sliders-row {
    display: inline-block;
    vertical-align: top;
    width: 48%;

    &:last-of-type {
      position: relative;
      top: 111px;
    }
  }
  .case__sliders-text {
    padding: 34px 0;
    margin-bottom: 42px;

    p {
      font-size: 1em;
    }
  }

  @media screen and (orientation:portrait) {

    .main-slider__btn-down {
      bottom: 16em;
    }

  }

  @media screen and (orientation:landscape) {

    .main-slider__btn-down {
      bottom: 10em;
    }

  }
}

@media (min-width: $tablet-landscape) {

}

@media (min-width: $desktop) {

  .case {

    .main-slider {
      height: 118vh;
      margin-top: -9em;
    }

  }
  .case__wrap {
    margin: -4.3em auto 0;
  }
  .case__sliders-text {
    padding: 34px 0;
    margin-bottom: 42px;

    strong {
      padding-right: 6em;
    }
    p {
      padding-right: 6em;
    }
  }
}
