.case {

  //.main-slider {
  //  .swiper-button-next,
  //  .swiper-button-prev {
  //    top: 40.8%;
  //  }
  //}
  h2:not(.site__main-title) {
    margin-bottom: 0.5em;
    font-size: 1.95em;
    line-height: 1;
    letter-spacing: 1.6px;
    text-align: center;
    @include  main-font4();
  }
  p {
    max-width: 940px;
    margin: 0 auto 3.39em;
    font-size: 0.9em;
    line-height: 2em;
    text-align: left;
    @include  main-font3();
  }
  img {
    display: block;
    height: auto;
    max-width: 100%;
    margin: 0 auto 20px;
  }
  ul,
  ol {
    max-width: 940px;
    margin: 0 auto 3.39em;

    li {
      position: relative;
      font-size: 1em;
      line-height: 1.9em;
      text-align: left;
      @include  main-font3();

      &:before {
        display: inline-block;
        vertical-align: middle;
        height: 6px;
        width: 6px;
        margin-right: 10px;
        border-radius: 50%;
        border: 2px solid #b10e3c;
        content: '';
      }
    }
  }
  .contacts__info p {
    margin: 0 0 14px;
    @include main-font4();
    font-size: 22px;
    line-height: 26px;
    text-align: center;
  }
}
.case__hero {
  position: absolute;
  top: 0;
  left: -50px;
  right: -50px;
  padding: 0 50px;
  font-size: 75px;
  border-radius: 0 0 50% 50% / 0 0 16% 16%;
  background-size: cover;
  background-position: center;
}
.case__hero-text {
  position: relative;
  top: 0.9em;
  text-align: center;

  h2.site__title {
    font-size: 0.4em;
    line-height: 1.1em;
    margin-bottom: 0;
  }
  p {
    margin-bottom: 0;
    text-align: center;
    font-size: 0.2em;
    line-height: 1.4em;
  }
}
.case__hero-btn-down {
  position: absolute;
  z-index: 4;
  left: 50%;
  width: 0.706em;
  height: 0.706em;
  margin-left: -0.353em;
  background: none;
  text-indent: -9999px;
  -webkit-animation-name: down;
  -webkit-animation-duration: 1200ms;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-name: down;
  animation-duration: 1200ms;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

  &:after {
    position: absolute;
    top: 70%;
    left: 40%;
    width: 50%;
    height: 50%;
    border-top: 2px solid #fff;
    border-left: 2px solid #fff;
    content: '';
    -webkit-transform: rotate(-135deg) translateX(100%) translateY(50%);
    transform: rotate(-135deg) translateX(100%) translateY(50%);
  }
}
.case__links {
  z-index: 10;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  left: 50px;
  right: 50px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);

  .case__links-prev,
  .case__links-next {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 0.325em;
    height: 0.325em;
    background: none;
    border-top: 1px solid #fff;
    border-left: 1px solid #fff;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
  }
  .case__links-prev {
    left: 18px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  .case__links-next {
    right: 18px;
  }
  span.case__links-prev,
  span.case__links-next {
    opacity: .5;
  }
}
.case__wrap {
  position: relative;
  z-index: 2;
  max-width: 1130px;
  padding: 0 15px;
}
.case__inner {
  position: relative;
  margin-bottom: 4em;

  &:first-of-type {

    p {
      max-width: 812px;
    }
  }

}
.case__sliders-row {

  img {
    width: 100%;
    margin-bottom: 48px;
  }
}
.case__sliders {

  img {
    width: 100%;
    margin-bottom: 48px;
  }
}
.case__sliders-text {
  padding: 20px 0;
  margin-bottom: 40px;

  strong {
    display: block;
    margin-bottom: 14px;
    font-size: 0.9em;
    line-height: 1;
    letter-spacing: 2.8px;
    text-transform: uppercase;
    @include  main-font2();
  }
  p {
    margin-bottom: 0;
    font-size: 0.9em;
    line-height: 1.9em;
    @include  main-font4();
  }
}
.case__content {
  overflow: hidden;
}
.case__content-text {
  padding: 20px 0;
  margin-bottom: 40px;

  strong {
    display: block;
    margin-bottom: 14px;
    font-size: 0.9em;
    line-height: 1;
    letter-spacing: 2.8px;
    text-transform: uppercase;
    @include  main-font2();
  }
  p {
    max-width: 100%;
    margin-bottom: 0;
    font-size: 0.9em;
    line-height: 1.9em;
    letter-spacing: -0.3px;
    @include  main-font4();
  }
}
.case__content-icons {

  img {
    margin: 20px 0 20px 0;
  }

}
.case__blog {
  display: block;
  max-width: 375px;
  margin: 0 auto 20px;
  @include main-font7();

  img {
    width: 100%;
    height: auto;
  }

}
.case__hero_pure {

  .site__main-title {
    top: 1.2em;
    color: rgba(1,176,211,0.2);
  }
  .case__hero-text {
    top: auto;
  }
  .case__hero-text .site__title {
    font-size: 0.5em;
    line-height: 1.14em;
  }
  .case__hero-text p {
    font-size: 0.16em;
  }
  .case__links {
    top: 44%;
    left: 54px;
    right: 54px;
  }

}
.case__hero-woman {
  margin: 0 auto 20px;
  width: 226px;
  height: 226px;
  background-image: url("../pic/pure-pic1.png");
  background-size: contain;
  background-position: bottom center;
  background-repeat: no-repeat;
}
.case__hero-slogan {
  display: none;

}
.case__hero-items {
  @include flexbox();
  @include flex-direction(column);
  @include align-items(center);
  @include justify-content(center);
  overflow: hidden;
  position: absolute;
  z-index: 3;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 0 50px;
  border-radius: 0 0 50% 50% / 0 0 16% 16%;
}

@media screen and (orientation:portrait) {

  .case__hero-btn-down {
    bottom: 0.6em;
  }
}
@media screen and (orientation:landscape) {

  .case__hero-btn-down {
    bottom: 0.3em;
  }
}

@-webkit-keyframes down {
  0% {
    -webkit-transform: translateY(0);
  }
  25% {
    -webkit-transform: translateY(-5px);
  }
  50% {
    -webkit-transform: translateY(0);
  }
  75% {
    -webkit-transform: translateY(5px);
  }
  100% {
    -webkit-transform: translateY(0);
  }
}
@keyframes down {
  0% {
    -webkit-transform: translateY(0);
  }
  25% {
    -webkit-transform: translateY(-5px);
  }
  50% {
    -webkit-transform: translateY(0);
  }
  75% {
    -webkit-transform: translateY(5px);
  }
  100% {
    -webkit-transform: translateY(0);
  }
}

@media (min-width: $tablet-portrait) {

  .case {

    h2:not(.site__main-title){
      font-size: 3em;
    }
    p {
      font-size: 1em;
    }
    ul,
    ol {
      max-width: 940px;
      margin: 0 auto 3.39em;

      li {
        font-size: 1em;
      }
    }
    .contacts__info p {
      margin: 0 0 0.9em;
      font-size: 2em;
      line-height: 1.2em;
    }
  }
  .case__hero-text {
    top: 0.9em;

    h2.site__title {
      margin: 0 0 0.08em;
      font-size: 0.58em;
      line-height: 1.1em;
    }
    p {
      font-size: 0.21em;
      line-height: 1.1em;
    }
  }
  .case__inner {
    margin-bottom: 6.6em;
  }
  .case__sliders {
    display: flex;
    justify-content: space-between;
  }
  .case__sliders-row {
    display: inline-block;
    vertical-align: top;
    width: 48%;

    &:last-of-type {
      position: relative;
      top: 111px;
    }
  }
  .case__sliders-text {
    padding: 34px 0;
    margin-bottom: 42px;
    break-inside: avoid;
    -webkit-column-break-inside: avoid;

    strong {
      font-size: 1.01em;
    }
    p {
      font-size: 1em;
    }
  }
  .case__blog {
    float: left;
    margin: 20px 20px 20px 0;
  }
  .case__hero_pure {
    box-shadow: 0 2.8em 1.5em -1.5em rgba(0,0,0,0.2) inset;
    background-color: #f9f9f9;

    .site__main-title {
        top: 0.94em;
        left: 43%;
        font-size: 5.1em;
      }
    .case__hero-text {
      top: 0.9em;

      p {
        color: #00b0d3;
      }

    }
    .case__links {

      .case__links-prev {
        border-top: 1px solid #762c88;
        border-left: 1px solid #762c88;
      }
      .case__links-next {
        border-top: 1px solid #00b0d3;
        border-left: 1px solid #00b0d3;
      }

    }

  }
  .case__hero-woman {
    position: absolute;
    z-index: 1;
    bottom: -10px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    background-image: url("../pic/case-pure_women.jpg.png");
    background-size: contain;
    background-position: bottom center;
    background-repeat: no-repeat;
    @include main-font6();
    margin: 0;
    left: 50%;
    width: 6em;
    height: 4.2em;
  }
  .case__hero-slogan {
    display: block;
    position: absolute;
    z-index: 2;
    width: 3.5em;
    right: 1em;
    left: auto;
    top: 2.5em;
    @include main-font6();

    span {
      display: block;
      color: #a0a0a0;
      text-transform: uppercase;

      &:nth-child(1) {
        font-size: 0.3em;
        line-height: 1em;
        padding: 0 0 0 4.1em;
        letter-spacing: 6px;
      }
      &:nth-child(2) {
        font-size: 0.7em;
        line-height: 1em;
        letter-spacing: -4px;
      }
      &:nth-child(3) {
        font-size: 1em;
        line-height: 0.82em;
        padding: 0 0 0 0.4em;
        letter-spacing: -6px;
        color: #00b0d3;
      }
      &:nth-child(4) {
        font-size: 0.2em;
        line-height: 1.3em;
        padding: 0.2em 0 0 2.4em;
        letter-spacing: 4px;
      }

    }

  }
  .case__content-icons {

    img {
      display: inline-block;
      vertical-align: top;
      margin: 20px 0 20px 0;
    }

  }
  .case__hero-items {
    display: block;
    z-index: 2;
  }
  .case__content_center {
    text-align: center;
    max-width: 660px;
    margin: 0 auto;

    p {
      text-align: center;
    }

  }

  @media screen and (orientation:portrait) {

    .case__hero-btn-down {
      bottom: 0.7em;
    }

  }

  @media screen and (orientation:landscape) {

    .case__hero-btn-down {
      bottom: 0.4em;
    }

  }
}
@media (min-width: $desktop) {

  .case {
    padding-top: 100vh !important;

    img {

      &.alignleft {
        margin: 20px 20px 20px 0;
        float: left;
      }
      &.aligncenter {
        display: block;
        margin: 20px auto 40px;
      }
      &.alignright {
        margin: 20px 0 20px 20px;
        float: right;
      }
      &.alignnone {
        max-width: 100%;
        margin: 20px auto 40px;
      }

    }

  }
  .case__hero {
    height: 100vh !important;
    //margin-top: -0.023em;
  }
  .case__hero-text {
    top: 0.53em;
  }
  .case__links {

    .case__links-prev,
    .case__links-next {
      width: 0.406em;
      height: 0.406em;
    }
    .case__links-prev {
      left: 48px;
    }
    .case__links-next {
      right: 48px;
    }


  }
  .case__wrap {
    margin: -4.3em auto 0;
  }
  .case__sliders-text {
    padding: 34px 0;
    margin-bottom: 42px;

    strong {
      padding-right: 2.5em;
    }
    p {
      padding-right: 2.5em;
    }
  }
  .case__content-text {
    padding: 4.2em 0 2.7em;
    margin-bottom: 0;

    strong {
      padding-right: 2.5em;
    }
  }
  .case__hero-woman {
    left: 51.7%;
    width: 10em;
    height: 6.95em;
  }
  .case__hero-slogan {
    width: 4.5em;
    right: 1.65em;
    left: auto;
    top: 1.82em;

    span {

      &:nth-child(1) {
        font-size: 0.39em;
        line-height: 1em;
        padding: 0 0 0 4.4em;
        letter-spacing: 8px;
      }
      &:nth-child(2) {
        font-size: 0.65em;
        line-height: 1em;
        letter-spacing: -4px;
      }
      &:nth-child(3) {
        font-size: 1.2em;
        line-height: 0.82em;
        padding: 0 0 0 0.4em;
        letter-spacing: -7px;
        color: #00b0d3;
      }
      &:nth-child(4) {
        font-size: 0.22em;
        line-height: 1.3em;
        padding: 0.3em 0 0 2.5em;
        letter-spacing: 4px;
      }

    }

  }
  .case__hero_pure {

    .case__hero-text {
      top: 0.7em;

      .site__title {
        font-size: 0.53em;
        line-height: 1.3em;
      }
      p {
        font-size: 0.21em;
      }

    }
    .case__links {
      top: 52%;
      left: 70px;
      right: 70px;
    }

  }
  .case__content_margin {

    img {

      &.alignleft {
        margin: 20px 5.1em 20px 0;
      }

    }

  }
}

