.expertise {
  position: relative;
  padding: 50px 0;

  .swiper-container {

    .swiper-wrapper {

      .swiper-slide {
        padding: 0 20px;
      }

    }

  }
}
.expertise_3 {
  padding: 9px 0;

  .expertise__inner {
    max-width: 1425px;
  }
  .swiper-container {

    .swiper-wrapper {

      .swiper-slide {
        padding: 20px;
      }
    }
  }
  .expertise__item {

    &:before,
    &:after {
      opacity: 0;
      visibility: hidden;
      -webkit-transition: opacity .3s, visibility .3s;
      transition: opacity .3s, visibility .3s;
    }
    &:before {
      opacity: 0.7;
      position: absolute;
      top: -22px;
      right: -5px;
      bottom: -33px;
      left: -5px;
      background: #0f1a1e;
      content: '';
    }
    &:after {
      @include absoluteCenterX();
      bottom: -45px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 17px 19px 0 19px;
      border-color: #0f1a1e transparent transparent transparent;
      content: '';
    }
    &.active {

      &:before,
      &:after {
        opacity: 1;
        visibility: visible;
      }
      &:hover {

        span {
          color: #fff;
        }
        .expertise__pic img {
          -webkit-transform: scale(.8);
          transform: scale(.8);
        }
      }
    }
  }
}
.expertise__inner {
  position: relative;
  max-width: 1150px;
  margin: 0 auto;
}
.expertise__item {
  position: relative;
  display: block;
  @include main-font1();
  color: #fff;
  font-size: 17px;
  line-height: 26px;
  letter-spacing: 1px;

  span {
    position: relative;
    display: block;
    text-align: center;
    text-transform: uppercase;
    -webkit-transition: color 0.3s ease;
    transition: color 0.3s ease;
  }

  &:hover {

    span {
     color: rgba(255,255,255,0.5);
    }

    .expertise__pic {

      img {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
      }
    }
  }
}
.expertise__pic {
  @include flexbox();
  @include flex-direction(row);
  @include flex-wrap(wrap);
  @include align-items(flex-end);
  @include justify-content(center);
  height: 74px;
  margin: 0 0 24px;

  img {
    display: block;
    width: 85px;
    height: auto;
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
    -webkit-transition: -webkit-transform 0.3s ease;
    transition: transform 0.3s ease;
  }

}

@media (min-width: $tablet-portrait) {

  .expertise {

    .swiper-container {

      .swiper-wrapper {
        @include flexbox();
        @include flex-direction(row);
        @include flex-wrap(wrap);
        @include align-items(flex-start);
        @include justify-content(flex-start);

        .swiper-slide {
          width: 33.333%;
          margin: 0 0 43px;
          text-align: center;
        }

      }

    }

  }
  .expertise__inner {
    padding: 0 20px;
  }
  .expertise__item {
    font-size: 1.2em;
    line-height: 1.2em;
    letter-spacing: 2px;

    &:hover {

      .expertise__pic {

        img {
          -webkit-transform: scale(1.1);
          transform: scale(1.1);
        }

      }

    }

  }
  .expertise__pic {
    height: 80px;
    margin: 0 0 37px;

    img {
      -webkit-transform: scale(1);
      transform: scale(1);
    }

  }
  .expertise_2 {
    padding: 67px 0;

    .swiper-container {

      .swiper-wrapper {

        .swiper-slide {
          margin: 0 0 6em;
        }

      }

    }

    .expertise__pic {
      margin: 0 0 25px;
    }
    .expertise__item {
      font-size: 1em;
      line-height: 1.2em;
      letter-spacing: 4px;
      padding: 0 2.5em;
    }

  }
  .expertise_3 {

    .expertise__item {
      font-size: .9em;
      line-height: 1.24em;
      letter-spacing: 2.8px;

      &:before {
        top: -22px;
        bottom: -45px;
      }
      &:after {
        bottom: -61px;
      }
      &.active {

        &:hover {

          .expertise__pic {

            img {
              -webkit-transform: scale(.9);
              transform: scale(.9);
            }
          }
        }
      }
    }
    .expertise__pic {
      margin-bottom: 19px;

      img {
        -webkit-transform: scale(.9);
        transform: scale(.9);
      }
    }
  }
}

@media (min-width: $desktop) {

  .expertise_3 {

    .expertise__inner {
      //max-width: none;
      //margin: 0 10px;
    }
    .swiper-container {

      .swiper-wrapper {
        justify-content: space-between;

        .swiper-slide {
          padding: 20px 5px;
          width: 14.9%;
        }
      }
    }
  }
}
