.featured-products {
  overflow: hidden;
  position: relative;
  padding: 50px 0;
  text-align: center;
  margin: 0 -15px;
  background: url("../img/featured-products-disk.png") no-repeat center;
  background-size: auto 80%;

  .swiper-container {
    height: 500px;

    .swiper-wrapper {
      @include align-items(center);

      .swiper-slide {
        @include flexbox();
        @include align-items(center);
        @include justify-content(center);
      }

    }

    .swiper-button-next,
    .swiper-button-prev {
      top: 50%;
    }

  }

}
.featured-products__inner {
  overflow: hidden;
  position: relative;
  z-index: 1;
  max-width: 1080px;
  margin: 0 auto;
}
.featured-products__disk {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 530px;
  height: 530px;
  border-radius: 100%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);

}
.featured-products__items {
  //padding-top: 35px;
  //margin-bottom: 35px;
}
.featured-products__item {
  @include main-font1();
  color: #fff;
  font-size: 17px;
  line-height: 26px;
  letter-spacing: 1px;
  text-align: center;

  span {
    display: block;
    margin: 0 0 6px;
    text-align: center;
  }

}
.featured-products__name {
  font-size: 14px;
  line-height: 27px;
  letter-spacing: 1.8px;
  text-transform: uppercase;
}
.featured-products__post {
  font-size: 14px;
  line-height: 20px;
  @include main-font4();
}
.featured-products__pic {
  overflow: hidden;
  display: inline-block;
  //width: 9.4em;
  //height: 9.4em;
  //border-radius: 10em;
  //margin: 0 0 24px;

  img {
    display: block;
    width: 100%;
    height: auto;
    margin: 0;
    -webkit-transform: scale(0.7);
    transform: scale(0.7);
  }

}

@media (min-width: $tablet-portrait) {

  .featured-products {
    padding: 50px 0;
  }
  .featured-products__inner {
    padding: 0 20px;
  }
  .featured-products__disk {
    width: 48em;
    height: 48em;
    padding-bottom: 0;
    -webkit-transform: translateX(0) translateY(0);
    transform: translateX(0) translateY(0);
  }
  .featured-products__items {
    //padding-top: 2.2em;
    margin-bottom: 0;
  }
  .featured-products__item {
    font-size: 1.2em;
    line-height: 1.2em;
    letter-spacing: 2px;

    span {
      margin: 0 0 1.05em;
    }

  }
  .featured-products__name {
    font-size: 1em;
    line-height: 1em;
    letter-spacing: 4px;
  }
  .featured-products__post {
    font-size: 1em;
    line-height: 1em;
    letter-spacing: 0.7px;
  }
  .featured-products__pic {
    //width: 8em;
    //height: 8em;
    //max-width: 265px;
    //max-height: 265px;
    //margin: 0 0 1.3em;
    -webkit-transform: scale(1);
    transform: scale(1);
  }

}
@media (min-width: $desktop) {

  .featured-products {
    height: 35.8em;
    padding: 0;
    background-size: auto 100%;
    overflow: visible;
    margin: 0 0 3.3em;

    .swiper-container {
      height: 35.8em;
      overflow: visible;

      .swiper-wrapper {
        @include flexbox();
        @include flex-direction(row);
        @include flex-wrap(wrap);
        @include align-items(center);
        @include justify-content(center);

        .swiper-slide {
          width: 11em;

          &.swiper-slide_animated {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 16em;
            height: 18em;
            margin: -9em 0 0 -8em;
            -webkit-transform-origin: center;
            transform-origin: center;
          }

        }

      }

      .swiper-button-prev,
      .swiper-button-next {
        display: none;
      }

    }

  }
  .featured-products__inner {
    overflow: visible;
  }
  .featured-products__disk {
    width: 764px !important;
    height: 764px !important;
    margin: -382px 0 0 -382px;
    -webkit-transform: translateX(0) translateY(0);
    transform: translateX(0) translateY(0);
  }
  .featured-products__pic {
    //width: 12.2em;
    //height: 12.2em;
    //max-width: 265px;
    //max-height: 265px;
    //margin: 0 0 1.3em;

    img {
      width: 100%;
      height: auto;
      -webkit-transform: scale(1);
      transform: scale(1);
    }

  }
}
