
.laptop {
  position: relative;
  width: 100%;
  margin-bottom: 4em;
  padding-bottom: 57.7%;
  background-size: contain;
  background-repeat: no-repeat;

  img {
    position: absolute;
    display: block;
    left: 49.9%;
    top: 6%;
    width: 76%;
    border-radius: 2px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }
}

@media (min-width: $tablet-portrait) {

  .laptop {
    position: relative;
    width: 100%;
    margin-bottom: 6.6em;
  }
}

@media (min-width: $tablet-landscape) {

}

@media (min-width: $desktop) {


}
