.main-slider {
  position: relative;
  overflow: hidden;
  //height: 100vh;
  min-height: 500px;
  font-size: 75px;

  .swiper-container {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;


    >.swiper-wrapper {

      .swiper-slide {
        overflow: hidden;
        display: block;
        background: transparent;
        height: 100%;
      }
    }
  }
  .swiper-button-next,
  .swiper-button-prev {
    top: 46.1%;
    width: 0.325em;
    height: 0.325em;
    background: none;
    border-top: 1px solid #fff;
    border-left: 1px solid #fff;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
  }
  .swiper-button-prev {
    left: 18px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  .swiper-button-next {
    right: 18px;
  }

  .site__title {
    font-size: 0.56em;
    line-height: 1.1em;
    margin: 0 0 0.1em;
  }
  .btn {
    font-size: 0.24em;
    line-height: 1em;
  }

}
.main-slider__content {
  position: relative;
  z-index: 3;
  overflow: hidden;
  @include flexbox();
  @include flex-direction(row);
  @include align-items(center);
  @include justify-content(center);
  height: 100%;
  padding: 0.406em 40px 0.406em;
  color: #fff;
  text-transform: uppercase;
  text-align: center;

  >div {
    width: 100%;
  }

}
.main-slider__text {
  position: relative;
  z-index: 1;

  p {
    font-size: 0.182em;
    line-height: 1.4em;
    margin: 0 0 29px;
  }
}
.main-slider__pic {
  display: inline-block;
  vertical-align: top;
  position: relative;
  width: 3.207em;
  height: 3.207em;
  margin: 0 0 2px 0;

  img {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
  }

}
.main-slider__btn-down {
  position: absolute;
  z-index: 2;
  left: 50%;
  bottom: 3%;
  width: 0.406em;
  height: 0.406em;
  margin-left: -0.203em;
  background: none;
  text-indent: -9999px;
  -webkit-animation-name: down;
  -webkit-animation-duration: 1200ms;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-name: down;
  animation-duration: 1200ms;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

  &:after {
    position: absolute;
    top: 70%;
    left: 40%;
    width: 50%;
    height: 50%;
    border-top: 1px solid #fff;
    border-left: 1px solid #fff;
    content: '';
    -webkit-transform: rotate(-135deg) translateX(100%) translateY(50%);
    transform: rotate(-135deg) translateX(100%) translateY(50%);
  }

}
.main-slider__inner-pic {
  position: absolute;
  top: 0;
  left: -50px;
  right: -50px;
  height: 84.7%;
  padding: 0 50px;
  border-radius: 0 0 50% 50% / 0 0 16% 16%;
  background-size: cover;
  background-position: center;
}

.main-slider__content_pure {

  .site__main-title {
    top: 1.2em;
    color: rgba(1,176,211,0.2);
  }
  .case__hero-text {
    top: auto;
  }
  .case__hero-text .site__title {
    font-size: 0.5em;
    line-height: 1.14em;
  }
  .case__hero-text p {
    font-size: 0.16em;
  }
  .case__links {
    top: 44%;
    left: 54px;
    right: 54px;
  }

}
.main-slider__woman {
  margin: 0 auto 20px;
  width: 226px;
  height: 226px;
  background-image: url("../pic/pure-pic1.png");
  background-size: contain;
  background-position: bottom center;
  background-repeat: no-repeat;
}
.main-slider__pure-slogan {
  display: none;

}
.main-slider__inner-items {
  @include flexbox();
  @include flex-direction(column);
  @include align-items(center);
  @include justify-content(center);
  overflow: hidden;
  position: absolute;
  z-index: 3;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 0 50px;
  border-radius: 0 0 50% 50% / 0 0 16% 16%;
}

@-webkit-keyframes down {
  0% {
    -webkit-transform: translateY(0);
  }
  25% {
    -webkit-transform: translateY(-5px);
  }
  50% {
    -webkit-transform: translateY(0);
  }
  75% {
    -webkit-transform: translateY(5px);
  }
  100% {
    -webkit-transform: translateY(0);
  }
}
@keyframes down {
  0% {
    -webkit-transform: translateY(0);
  }
  25% {
    -webkit-transform: translateY(-5px);
  }
  50% {
    -webkit-transform: translateY(0);
  }
  75% {
    -webkit-transform: translateY(5px);
  }
  100% {
    -webkit-transform: translateY(0);
  }
}

@media (min-width: $tablet-portrait) {

  .main-slider {

    .site__main-title {
      font-size: 5.06em;
      line-height: 1em;
    }

    .swiper-button-next.colored_pure,
    .swiper-button-prev.colored_pure {
      border-top-color: #762c88;
      border-left-color: #762c88;
    }

  }
  .main-slider__content {
    @include align-items(flex-end);
    @include justify-content(flex-end);
    padding: 0 18.6% 12.7%;
    text-align: left;

    >div {
      width: auto;
    }

  }
  .main-slider__text {
    p {
      font-size: 0.24em;
      line-height: 1.1em;
      margin: 0 0 0.142em;
    }
  }
  .main-slider__pic {
    position: absolute;
    top: 50.5%;
    left: 50%;
    width: 5.2em;
    height: 0;
    margin: 0;
    padding-bottom: 5.2em;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }
  .main-slider__btn-down {

    &:after {
      width: 75%;
      height: 75%;
    }

  }

  .main-slider_pure {
  }
  .main-slider__content_pure {

    margin: 0 -50px;

    .site__main-title {
      top: 0.94em;
      left: 43%;
      font-size: 5.1em;
    }
    .case__hero-text {
      top: 0.9em;

      p {
        color: #00b0d3;
      }

    }

  }
  .main-slider__woman {
    position: absolute;
    z-index: 1;
    bottom: 0;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    background-image: url("../pic/case-pure_women.jpg.png");
    background-size: contain;
    background-position: bottom center;
    background-repeat: no-repeat;
    @include main-font6();
    margin: 0;
    left: 50%;
    width: 6em;
    height: 4.2em;
  }
  .main-slider__pure-slogan {
    display: block;
    position: relative;
    z-index: 2;
    width: 3.5em;
    left: auto;
    top: auto;
    @include main-font6();

    span {
      display: block;
      color: #a0a0a0;
      text-transform: uppercase;

      &:nth-child(1) {
        font-size: 0.3em;
        line-height: 1em;
        padding: 0 0 0 4.1em;
        letter-spacing: 6px;
      }
      &:nth-child(2) {
        font-size: 0.7em;
        line-height: 1em;
        letter-spacing: -4px;
      }
      &:nth-child(3) {
        font-size: 1em;
        line-height: 0.82em;
        padding: 0 0 0 0.4em;
        letter-spacing: -6px;
        color: #00b0d3;
      }
      &:nth-child(4) {
        font-size: 0.2em;
        line-height: 1.3em;
        padding: 0.2em 0 0 2.4em;
        letter-spacing: 4px;
      }

    }

  }
  .main-slider__inner-items {
    overflow: hidden;
    box-shadow: 0 2.8em 1.5em -1.5em rgba(0,0,0,0.2) inset;
    border-radius: 0 0 50% 50% / 0 0 16% 16%;
    background-color: #f9f9f9 !important;
    display: block;
    z-index: 2;
  }
  .main-slider__hero-content {
    position: absolute;
    right: 1em;
    left: auto;
    top: 2.5em;
    z-index: 4;

    .main-slider__text {
      display: none;
    }
  }

}
@media (min-width: $desktop) {

  .main-slider {

    height: 100vh;
    font-size: 100px;

    .swiper-button-next,
    .swiper-button-prev {
      top: 47.8%;
      width: 0.406em;
      height: 0.406em;
    }
    .swiper-button-prev {
      left: 48px;
    }
    .swiper-button-next {
      right: 48px;
    }

  }
  .main-slider__btn-down {
    bottom: 0.609em;
    width: 0.609em;
    height: 0.609em;
    margin-left: -0.31em;

    &_case {
      bottom: 2.03em;
    }
  }

  .main-slider__woman {
    left: 51.7%;
    width: 10em;
    height: 6.95em;
  }
  .main-slider__pure-slogan {
    width: 4.5em;
    right: 1.65em;
    //left: auto;
    //top: 1.82em;

    span {

      &:nth-child(1) {
        font-size: 0.39em;
        line-height: 1em;
        padding: 0 0 0 4.4em;
        letter-spacing: 8px;
      }
      &:nth-child(2) {
        font-size: 0.65em;
        line-height: 1em;
        letter-spacing: -4px;
      }
      &:nth-child(3) {
        font-size: 1.2em;
        line-height: 0.82em;
        padding: 0 0 0 0.4em;
        letter-spacing: -7px;
        color: #00b0d3;
      }
      &:nth-child(4) {
        font-size: 0.22em;
        line-height: 1.3em;
        padding: 0.3em 0 0 2.5em;
        letter-spacing: 4px;
      }

    }

  }
  .main-slider_pure {

    .case__hero-text {
      top: 0.7em;

      .site__title {
        font-size: 0.53em;
        line-height: 1.3em;
      }
      p {
        font-size: 0.21em;
      }

    }
    .case__links {
      top: 52%;
      left: 70px;
      right: 70px;
    }

  }

}
