
.phone {
  position: relative;
}
.phone__wrap {
  position: relative;
  width: 720px;
  height: 560px;
  margin: 0 auto;

  div {
    position: absolute;
  }
  .shadow {
    z-index: 1;
    -webkit-transition: all .0s ease-in-out;
    transition: all .0s ease-in-out;
  }
}
.pnone__item {
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-transition: all .0s ease-in-out;
  transition: all .0s ease-in-out;

}
.pnone__part_1 {
  z-index: 1;
  top: 91px;
  left: 35px;
  width: 695px;
  height: 360.5px;

  .pnone__item {
    background-image: url('../img/phone/phone-part_1.png');
    background-repeat: no-repeat;
    background-size: contain;
  }
  .shadow {
    top: 41px;
    width: 706px;
    height: 372px;
    background-image: url('../img/phone/phone-part-shadow_1.png');
    background-repeat: no-repeat;
    background-size: contain;
  }
}
.pnone__part_2 {
  z-index: 2;
  top: 13px;
  left: 30px;
  width: 698px;
  height: 366px;

  &.animation {

    .pnone__item {
      -webkit-transform: translateY(20.3%) scale(0.869);
      transform: translateY(20.3%) scale(0.869);
    }
    .shadow {
      -webkit-transform: translateY(20.3%) scale(0.869);
      transform: translateY(10.2%) scale(0.869);
    }
  }

  .pnone__item {
    background-image: url('../img/phone/phone-part_2.png');
    background-repeat: no-repeat;
    background-size: contain;
  }
  .shadow {
    top: 36px;
    left: -7px;
    width: 708px;
    height: 376px;
    background-image: url('../img/phone/phone-part-shadow_2.png');
    background-repeat: no-repeat;
    background-size: contain;
  }
}
.pnone__part_3 {
  z-index: 3;
  top: -52px;
  left: 27px;
  width: 703px;
  height: 367.5px;

  &.animation {

    .pnone__item {
      -webkit-transform: translateY(37.3%) scale(0.869);
      transform: translateY(37.3%) scale(0.869);
    }
    .shadow {
      -webkit-transform: translateY(27.2%) scale(0.869);
      transform: translateY(27.2%) scale(0.869);
    }
  }

  .pnone__item {
    background-image: url('../img/phone/phone-part_3.png');
    background-repeat: no-repeat;
    background-size: contain;
  }
  .shadow {
    top: 37px;
    left: 17px;
    width: 713px;
    height: 367.5px;
    background-image: url('../img/phone/phone-part-shadow_3.png');
    background-repeat: no-repeat;
    background-size: contain;
  }
}
.pnone__part_4 {
  z-index: 4;
  top: -25px;
  left: 223px;
  width: 278.5px;
  height: 160px;

  &.animation {

    .pnone__item {
      -webkit-transform: translateY(124.3%) scale(0.869);
      transform: translateY(124.3%) scale(0.869);
    }
    .shadow {
      -webkit-transform: translateY(91.2%) scale(0.869);
      transform: translateY(91.2%) scale(0.869);
    }
  }

  .pnone__item {
    background-image: url('../img/phone/phone-part_4.png');
    background-repeat: no-repeat;
    background-size: contain;
  }
  .shadow {
    top: 61px;
    left: 4px;
    width: 273px;
    height: 155px;
    background-image: url('../img/phone/phone-part-shadow_4.png');
    background-repeat: no-repeat;
    background-size: contain;
  }
}
.pnone__part_5 {
  z-index: 5;
  top: 98px;
  left: 483px;
  width: 48px;
  height: 26px;

  &.animation {

    .pnone__item {
      -webkit-transform: translateY(124.3%) scale(0.869);
      transform: translateY(124.3%) scale(0.869);
    }
    .shadow {
      -webkit-transform: translateY(91.2%) scale(0.869);
      transform: translateY(91.2%) scale(0.869);
    }
  }

  .pnone__item {
    background-image: url('../img/phone/phone-part_5.png');
    background-repeat: no-repeat;
    background-size: contain;
  }
  .shadow {
    top: 62px;
    left: -4px;
    width: 69.5px;
    height: 46.5px;
    background-image: url('../img/phone/phone-part-shadow_5.png');
    background-repeat: no-repeat;
    background-size: contain;
  }
}

@media (min-width: $tablet-portrait) {

  .phone {
    position: relative;
  }
  .phone__wrap {
    position: relative;
    width: 720px;
    height: 560px;
    margin: 0 auto;

    div {
      position: absolute;
    }
    .shadow {
      z-index: 1;
      -webkit-transition: all .0s ease-in-out;
      transition: all .0s ease-in-out;
    }
  }
  .pnone__item {
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-transition: all .0s ease-in-out;
    transition: all .0s ease-in-out;

  }
  .pnone__part_1 {
    z-index: 1;
    top: 91px;
    left: 35px;
    width: 695px;
    height: 360.5px;

    .pnone__item {
      background-image: url('../img/phone/phone-part_1.png');
      background-repeat: no-repeat;
      background-size: contain;
    }
    .shadow {
      top: 41px;
      width: 706px;
      height: 372px;
      background-image: url('../img/phone/phone-part-shadow_1.png');
      background-repeat: no-repeat;
      background-size: contain;
    }
  }
  .pnone__part_2 {
    z-index: 2;
    top: 13px;
    left: 30px;
    width: 698px;
    height: 366px;

    &.animation {

      .pnone__item {
        -webkit-transform: translateY(20.3%) scale(0.869);
        transform: translateY(20.3%) scale(0.869);
      }
      .shadow {
        -webkit-transform: translateY(20.3%) scale(0.869);
        transform: translateY(10.2%) scale(0.869);
      }
    }

    .pnone__item {
      background-image: url('../img/phone/phone-part_2.png');
      background-repeat: no-repeat;
      background-size: contain;
    }
    .shadow {
      top: 36px;
      left: -7px;
      width: 708px;
      height: 376px;
      background-image: url('../img/phone/phone-part-shadow_2.png');
      background-repeat: no-repeat;
      background-size: contain;
    }
  }
  .pnone__part_3 {
    z-index: 3;
    top: -52px;
    left: 27px;
    width: 703px;
    height: 367.5px;

    &.animation {

      .pnone__item {
        -webkit-transform: translateY(37.3%) scale(0.869);
        transform: translateY(37.3%) scale(0.869);
      }
      .shadow {
        -webkit-transform: translateY(27.2%) scale(0.869);
        transform: translateY(27.2%) scale(0.869);
      }
    }

    .pnone__item {
      background-image: url('../img/phone/phone-part_3.png');
      background-repeat: no-repeat;
      background-size: contain;
    }
    .shadow {
      top: 37px;
      left: 17px;
      width: 713px;
      height: 367.5px;
      background-image: url('../img/phone/phone-part-shadow_3.png');
      background-repeat: no-repeat;
      background-size: contain;
    }
  }
  .pnone__part_4 {
    z-index: 4;
    top: -25px;
    left: 223px;
    width: 278.5px;
    height: 160px;

    &.animation {

      .pnone__item {
        -webkit-transform: translateY(124.3%) scale(0.869);
        transform: translateY(124.3%) scale(0.869);
      }
      .shadow {
        -webkit-transform: translateY(91.2%) scale(0.869);
        transform: translateY(91.2%) scale(0.869);
      }
    }

    .pnone__item {
      background-image: url('../img/phone/phone-part_4.png');
      background-repeat: no-repeat;
      background-size: contain;
    }
    .shadow {
      top: 61px;
      left: 4px;
      width: 273px;
      height: 155px;
      background-image: url('../img/phone/phone-part-shadow_4.png');
      background-repeat: no-repeat;
      background-size: contain;
    }
  }
  .pnone__part_5 {
    z-index: 5;
    top: 98px;
    left: 483px;
    width: 48px;
    height: 26px;

    &.animation {

      .pnone__item {
        -webkit-transform: translateY(124.3%) scale(0.869);
        transform: translateY(124.3%) scale(0.869);
      }
      .shadow {
        -webkit-transform: translateY(91.2%) scale(0.869);
        transform: translateY(91.2%) scale(0.869);
      }
    }

    .pnone__item {
      background-image: url('../img/phone/phone-part_5.png');
      background-repeat: no-repeat;
      background-size: contain;
    }
    .shadow {
      top: 62px;
      left: -4px;
      width: 69.5px;
      height: 46.5px;
      background-image: url('../img/phone/phone-part-shadow_5.png');
      background-repeat: no-repeat;
      background-size: contain;
    }
  }

}

@media (min-width: $tablet-landscape) {

}

@media (min-width: $desktop) {



}


