.reviews {
  position: relative;
  padding: 8px 0;

  .swiper-button-next,
  .swiper-button-prev {
    top: 106px;
  }
  .swiper-button-prev {
    left: -8px;
  }
  .swiper-button-next {
    right: -8px;
  }

}
.reviews__inner {
  position: relative;
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 36px;
}
.reviews__items {
  position: relative;
  padding-top: 25px;
  padding-bottom: 25px;
}
.reviews__item {
}
.reviews__info {
  text-align: center;
  margin: 0 0 20px;

  span {
    display: block;
    max-width: 150px;
    margin: 0 auto;
    text-transform: uppercase;
    font-size: 15px;
    line-height: 18px;
    color: #fff;
    @include main-font2();
    letter-spacing: 3px;

  }

}
.reviews__pic {
  overflow: hidden;
  width: 145px;
  height: 145px;
  border-radius: 145px;
  margin: 0 auto 19px;
  text-align: center;
  transform: translateZ(0);

  img {
    width: 100%;
    height: auto;
    -webkit-transform: scale(1.03);
    transform: scale(1.03);
  }

}
.reviews__text {
  max-height: 375px;
  overflow: hidden;
  text-align: left;

  p {
    font-size: 16px !important;
    line-height: 22px !important;
    color: rgba(255,255,255,0.6);
    @include main-font3();
  }
}

@media (min-width: $tablet-portrait) {

  .reviews {

    .swiper-container {

      .swiper-wrapper {

        .swiper-slide {
          width: 20%;
          padding: 0 20px;
          text-align: center;
        }

      }
    }
    .swiper-button-next,
    .swiper-button-prev {
      top: 48%;
    }
    .swiper-button-prev {
      left: 6px;
    }
    .swiper-button-next {
      right: 6px;
    }

    .site__title {
      margin: 0;
    }

  }
  .reviews__inner {
    padding: 0 20px;
  }
  .reviews__items {
    padding-top: 11px;
    padding-bottom: 11px;

    >div:first-child {
      position: relative;
      max-width: 700px;
      margin: 0 auto;
    }

  }
  .reviews__item {
    @include flexbox();
    @include flex-direction(row);
    @include align-items(flex-start);
    @include justify-content(space-between);
    position: relative;
    padding: 35px 6em 0 0;
    //height: 216px;

    &:before,
    &:after {
      position: absolute;
      z-index: 2;
      top: 12px;
      right: 2.8em;
      width: 2.4em;
      height: 3.6em;
      background: url("../img/quote.png") no-repeat;
      background-size: contain;
      content: '';

    }
    &:after {
      right: 0;
    }

    &.animation {

      &:before,
      &:after {
        -webkit-animation-name: tada;
        -webkit-animation-duration: 2000ms;
        -webkit-animation-timing-function: ease-in-out;
        -webkit-animation-iteration-count: 1;
        animation-name: tada;
        animation-duration: 2000ms;
        animation-timing-function: ease-in-out;
        animation-iteration-count: 1;

      }
      &:after {
        -webkit-animation-name: tada;
        -webkit-animation-duration: 2000ms;
        -webkit-animation-delay: 1000ms;
        -webkit-animation-timing-function: ease-in-out;
        -webkit-animation-iteration-count: 1;
        animation-name: tada;
        animation-duration: 2000ms;
        animation-delay: 1000ms;
        animation-timing-function: ease-in-out;
        animation-iteration-count: 1;
      }

    }

  }
  .reviews__info {
    display: inline-block;
    vertical-align: top;
    padding-top: 0.6em;
    width: 9em;
    text-align: left;
    margin: 0;

    span {
      margin: 0 0 0 0.6em;
    }

  }
  .reviews__pic {
    margin: 0 0 20px;
    width: 8em;
    height: 8em;
  }
  .reviews__text {
    display: inline-block;
    vertical-align: top;
    width: 21em;
    padding: 0.4em 0 0 0.5em;
    height: 223px;

    p {
      font-size: 18px !important;
      line-height: 24px !important;
    }
  }

}

@-webkit-keyframes tada {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  10%, 20% {
    -webkit-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
  }

  30%, 50%, 70%, 90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }

  40%, 60%, 80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@keyframes tada {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  10%, 20% {
    -webkit-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
  }

  30%, 50%, 70%, 90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }

  40%, 60%, 80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}