body {
  font-size: 75px;
}
.site {
  overflow: hidden;
  position: relative;
  z-index: 1;
  min-width: 320px;
  min-height: 100%;
  font-size: 0.203em;
  background: #162328;
  @include main-font3();
  color: #fff;

  &.centered {
    @include flexbox();
    @include flex-direction(row);
    @include flex-wrap(wrap);
    @include align-items(center);
    @include justify-content(center);
    min-height: 100vh;
  }
  &.site_inner {

    .site__header {

      &.fixed {
        //background: #162328;
      }

    }

  }

  //&:after {
  //  display: block;
  //  clear: both;
  //  width: 100%;
  //  height: 107px;
  //  content: '';
  //}

}
.site__header {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 4em;
  -webkit-transition: -webkit-transform 0.4s ease-out,background 0.3s ease,height 0.3s ease;
  transition: transform 0.4s ease-out,background 0.3s ease,height 0.3s ease;
  pointer-events: none;

  &.fixed {

    .logo {
      opacity: 0;
      visibility: hidden;
    }
    .site__header-title {
      opacity: 0;
      visibility: hidden;
    }

  }
  &.opened {

    .site__header-menu {
      -webkit-transform: translateX(0);
      transform: translateX(0);

    }
    .site__header__btn {

      span {

        &:before {
          top: 0;
          -webkit-transform: translateY(0) rotate(45deg);
          transform: translateY(0) rotate(45deg);
        }
        &:after {
          top: 0;
          -webkit-transform: translateY(0) rotate(-45deg);
          transform: translateY(0) rotate(-45deg);
        }

      }

    }

  }

}
.site__header-layout {
  position: relative;
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 20px;
}
.site__header-title {
  display: none;
  pointer-events: visible;
  -webkit-transition: opacity 0.3s, visibility 0.3s;
  transition: opacity 0.3s, visibility 0.3s;

  &.fade {
    opacity: 0;
  }
}
.site__header__btn {
  position: absolute;
  z-index: 4;
  right: calc( 1.7em - 15px);
  top: calc( 1.5em - 15px );
  width: calc( 1.37em + 30px);
  height: calc( 1em + 30px);
  border: none;
  padding: 0;
  background: transparent;
  font-size: 1em !important;
  pointer-events: visible;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);

  span {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    width: 50%;
    height: 2px;
    font-size: 0;
    -webkit-transition: background-color 0.3s, width 0.3s;
    transition: background-color 0.3s, width 0.3s;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    &:before,
    &:after {
      position: absolute;
      top: -8px;
      left: 0;
      width: 100%;
      height: 100%;
      background: #fff;
      content: '';
      -webkit-transform-origin: center;
      transform-origin: center;
      -webkit-transition: -webkit-transform 0.3s, background .3s, width 0.3s, top 0.3s;
      transition: transform 0.3s, background .3s, width 0.3s, top 0.3s;
    }

    &:after {
      top: 8px;
    }
  }

}
.site__header-menu {
  @include flexbox();
  @include flex-direction(row);
  @include align-items(center);
  @include justify-content(center);
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
  padding: 70px 0;
  background: rgba(23,36,40,0.93);
  text-align: center;
  pointer-events: visible;

  nav {
    position: relative;
    width: 100%;

    a {
      display: block;
      padding: 25px 20px;
      font-size: 18px;
      line-height: 20px;
      color: #fff;
      @include main-font4();
      text-transform: uppercase;
      -webkit-transition: color 0.1s linear, background 0.1s linear;
      transition: color 0.1s linear, background 0.1s linear;

      &:hover,
      &.active {
        color: #b10e3c;
      }

      &:hover {
        background: rgba(23,36,40,0.93);
      }

    }

  }

}
.site__footer {
  position: absolute;
  z-index: 2;
  left: 0;
  right: 0;
  bottom: 0;
  height: 107px;
  background: #70798b;
  font-size: 14px;
  line-height: 18px;
  color: #f1f1f1;
  text-align: center;
}
.site__footer-layout {
  position: relative;
  z-index: 1;
  width: 100%;
  max-width: 1920px;
  height: 107px;
  padding: 0 20px;
  margin: 0 auto;
  padding-top: 59px;
}
.site__centered {
  position: relative;
  width: 100%;
  max-width: 1920px;
}
.site__index-page {
  position: relative;
  z-index: 1;

    .slide__content {
      overflow: hidden;
      position: relative;

      &:first-child {
        z-index: 3;
      }

      .slide__content-inner {
        width: 100%;
      }

    }


}
.site__title {
  margin: 0 0 40px;
  @include main-font4();
  font-size: 2.6em;
  line-height: 1.1em;
  color: #fff;
  text-transform: none;
}
.site__title_2 {
  text-align: center;
}
.site__title_3 {
  margin: 0 0 1em;
  padding: 0 20px;
  text-align: center;
}
.site__main-title {
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 1em;
  font-size: 280px;
  line-height: 280px;
  white-space: nowrap;
  color: rgba(255,255,255,0.05);
  text-transform: none;
  @include main-font5();
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

  &_inner {
    opacity: 1;
    top: 1.6em;
    -webkit-transition: opacity .3s;
    transition: opacity .3s;

    &.fade {
      opacity: 0;
    }
  }
}
.site__gradient {
  position: relative;

  &:before {
    z-index: -1;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 50em;
    height: 50em;
    border-radius: 50%;

    background: -moz-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.07) 0%, rgba(255,255,255,0) 70%); /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.07) 0%,rgba(255,255,255,0) 70%); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center,  rgba(255,255,255,0.07) 0%,rgba(255,255,255,0) 70%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

    content: '';
  }
}
.swiper-button-next,
.swiper-button-prev {
  top: 46.1%;
  width: 1.6em;
  height: 1.6em;
  background: none;
  border-top: 1px solid #fff;
  border-left: 1px solid #fff;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}
.swiper-button-prev {
  left: 18px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.swiper-button-next {
  right: 18px;
}
.site__content {
  position: relative;
  z-index: 1;
  padding-top: 4em;

  //&.centered {
  //  @include flexbox();
  //  @include flex-direction(row);
  //  @include flex-wrap(wrap);
  //  @include align-items(center);
  //  @include justify-content(flex-start);
  //  min-height: 100vh;
  //}

}

input[type="submit"].site__input,
input[type="text"].site__input,
input[type="password"].site__input,
textarea.site__input,
input[type="email"].site__input,
input[type="tel"].site__input,
input[type="phone"].site__input,
input[type="number"].site__input {
  display: inline-block;
  width: 100%;
  height: 35px;
  background: transparent;
  border: none;
  border-bottom: 1px solid #fff;
  padding: 8px 5px;
  margin: 0 0 9px;
  font-size: 16px;
  line-height: 16px;
  color: #162328;
  text-shadow: 0px 0px 0px rgba(255,255,255,0.5);
  -webkit-text-fill-color: transparent;
  @include main-font1();
  -webkit-transition: border 0.3s ease;
  transition: border 0.3s ease;

  &:focus {
    text-shadow: 0px 0px 0px rgba(255,255,255,1);
    border-color: rgba(255, 255, 255, 0.5);
  }

  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus {
    background-color: rgba(250, 255, 189, 0);
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus
input:-webkit-autofill{
  background-color: rgba(250, 255, 189, 0);
  -webkit-text-fill-color: #fff;
  -webkit-box-shadow: 0 0 0px 1000px rgba(166,10,54,1) inset;
}

@media (min-width: $tablet-portrait) {
  .site__header {
    height: 5em;
  }
  .site__header__btn {
    width: 70px;
    height: 60px;
    right: calc( 4.7em + 17px);
    top: calc( 2.1em - 20px);

    span {
      width: 35px;
    }

  }
  .site__header-menu {

    nav {

      a {
        font-size: 2.8em;
        line-height: 1.3em;
      }

    }

  }
  .site__title {
    margin: 0 0 0.05em;
    font-size: 2.78em;
    line-height: 1.1em;
  }
  .site__title_2 {
    margin: 0 0 41px;
    font-size: 2.23em;
    line-height: 1.1em;
  }
  .site__title_3 {
    margin: 0 0 1em;
    font-size: 3.15em;
    line-height: 1em;
  }
  .site__main-title {
    font-size: 20em;
    line-height: 1em;

    &_inner {
      top: 0.93em;
    }
  }
  .swiper-button-next,
  .swiper-button-prev {
    top: 47.8%;
    width: 2em;
    height: 2em;
  }
  .swiper-button-prev {
    left: 48px;
  }
  .swiper-button-next {
    right: 48px;
  }
  .site__content {
    padding-top: 5em;
  }
}
@media (min-width: $desktop) {
  body {
    font-size: 100px;
  }
  .index-page,
  .index-page body{
    overflow-y: hidden;
  }
  .site__header {
    height: 9em;
  }
  .site__header__btn {
    top: calc( 4.2em - 20px);
  }
  .site__header-title {
    display: block;
    padding: 1em 4em 0;
  }
  .site__content-title {
    display: none;
  }
  .site__main-title {
    left: 48.7%;
    font-size: 26em;
    line-height: 1em;
  }
  .site__index-page {

    .slide__content-inner {

      &.centered {
        @include flexbox();
        @include flex-direction(row);
        @include flex-wrap(wrap);
        @include align-items(center);
        @include justify-content(center);
      }

      >div {
        width: 100%;
      }

    }

    //&.mob_view {
    //  position: relative;
    //  left: auto;
    //  top: auto;
    //  width: auto;
    //  height: auto;
    //
    //  .site__index-swiper {
    //    position: relative;
    //
    //    >.swiper-wrapper {
    //      display: block;
    //
    //      >.swiper-slide {
    //        display: block;
    //        background: #162328;
    //        height: auto;
    //
    //        .swiper-slide__content {
    //          position: relative;
    //          //min-height: 100vh;
    //          @include flexbox();
    //          @include flex-direction(row);
    //          @include flex-wrap(wrap);
    //          @include align-items(center);
    //          @include justify-content(center);
    //
    //          >div {
    //            width: 100%;
    //          }
    //
    //        }
    //
    //      }
    //
    //    }
    //
    //  }


  }
  .site__content {
    padding-top: 9em;
  }
  .site_inner {

    .site__header__btn {
      top: calc( 3.7em - 20px);
      right: calc( 4em + 17px);
    }

  }
}

