.team {
  padding-top: 50px;
  padding-bottom: 70px;

  .squad {
    padding: 90px 0 90px;
  }
  .squad ,
  .squad__inner {
    overflow: visible;
  }

}

@media (min-width: $tablet-portrait) {

}
@media (min-width: $desktop) {

  .team {
    padding: 70px 0;

    .squad {
      padding: 60px 0 19px;
    }
  }

}