.vegetables {
  position: absolute;
  z-index: 2;
  top: 19px;
  left: 51%;
  width: 2.1em;
  height: 0.39em;
  background-size: contain;
  background-position: top left;
  background-repeat: no-repeat;

  img {
    display: block;
    width: 100%;
    height: auto;

    //&.vegetables__case-pic1 {
    //  -webkit-transform: rotate(-103deg);
    //  transform: rotate(-103deg);
    //}
    //&.vegetables__case-pic2 {
    //  -webkit-transform: rotate(18deg) translate(-0.609em, 1em);
    //  transform:rotate(18deg) translate(-0.609em, 1em);
    //}
  }

  &.vegetable1 {
    top: -0.812em;
    left: auto;
    right: -4.45em;
    width: 5.14em;
    height: 3.7em;
  }
  &.copy_1 {
    width: 5.14em;
  }
  &.vegetable2 {
    left: -1.22em;
    top: 0.081em;
    width: 2.36em;
    height: 2.03em;
  }
  &.copy_2 {
    width: 2.36em;
  }
  &.vegetable3 {
    display: none;
  }
  &.vegetable4 {
    left: -1.87em;
    top: auto;
    bottom: -1.178em;
    width: 3.15em;
    height: 3.8em;

    &_case {
      left: -0.85em;
      //top: auto;
      //bottom: -3em;
      //width: 28.8em;
      //height: 24.3em;
    }
  }
  &.copy_4 {
    width: 3.15em;
  }
  &.vegetable5 {
    top: 2.62em;
    left: 50%;
    width: 2.45em;
    height: 1.38em;
  }
  &.copy_5 {
    width: 2.45em;
  }
  &.vegetable6 {
    //top: auto;
    //bottom: 0.83em;
    //left: 0.609em;
    //width: 1.22em;
    //height: 2.8em;
    //margin-left: 0;
  }
  &.copy_6 {
    width: 1.22em;
  }
  &.not_move {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }

}

@media (min-width: $tablet-portrait) {

  .vegetables {

    &.vegetable1 {
      top: 0;
      left: auto;
      right: -3.43em;
    }
    &.vegetable2 {
      left: -0.609em;
      top: 0.49em;
    }
    &.vegetable4 {
      left: -1.1em;
      top: auto;
      bottom: -1.39em;
    }
    &.vegetable5 {
      top: 2.62em;
      left: 50%;
    }
    &.vegetable4_copy {
      top: -2.42em;
      bottom: auto;
    }

  }

}
@media (min-width: $desktop) {

  .vegetables {

    &.vegetable1 {
      top: -3.66em;
      left: auto;
      right: -5.89em;
      width: 10.9em;
      height: 7.8em;
    }
    &.copy_1 {
      width: 10.8em;
    }
    &.vegetable2 {
      left: -1.75em;
      top: -1.9em;
      width: 5em;
      height: 4.26em;
    }
    &.copy_2 {
      width: 5em;
    }
    &.vegetable3 {
      display: block;
      top: auto;
      bottom: -0.45em;
      left: auto;
      right: -2.56em;
      width: 4.32em;
      height: 4.63em;

      &_case {
        bottom: -0.83em;
        right: -1em;
        width: 4.14em;
        height: 3.61em;
      }
    }
    &.copy_3 {
      width: 4.32em;
    }
    &.vegetable4 {
      left: -1.14em;
      top: auto;
      bottom: -1.32em;
      width: 6.9em;
      height: 6.23em;

      &_case {
        left: -0.35em;
        top: auto;
        bottom: -0.609em;
        width: 5.85em;
        height: 4.93em;
      }
      &.vegetable4_1 {
        bottom: -2.64em;
      }
    }
    &.copy_4 {
      width: 6.9em;
    }

    &.vegetable5 {
      top: 1.73em;
      left: 0.89em;
      width: 5.48em;
      height: 2.8em;
      margin-left: 0;
    }
    &.copy_5 {
      width: 5.48em;
    }
    &.vegetable6 {
      top: 3.06em;
      left: 0.609em;
      width: 1.83em;
      height: 2.8em;
      margin-left: 0;
    }
    &.copy_6 {
      width: 1.83em;
    }

  }

  .moves_up {

    &.move {
      -webkit-transform: translateY(-400px) translateZ(0) !important;
      transform: translateY(-400px) translateZ(0) !important;
    }

  }
  .animated_moves {
    -webkit-transition: -webkit-transform 0.3s linear;
    transition: transform 0.3s linear;
  }

}
