.vegetables {
  position: absolute;
  z-index: 2;
  top: 19px;
  left: 51%;
  width: 10.3em;
  height: 1.9em;
  background-size: contain;
  background-position: top left;
  background-repeat: no-repeat;

  img {
    display: block;
    width: 100%;
    height: auto;

    &.vegetables__case-pic1 {
      -webkit-transform: rotate(-103deg);
      transform: rotate(-103deg);
    }
    &.vegetables__case-pic2 {
      -webkit-transform: rotate(18deg) translate(-3em, 5em);
      transform:rotate(18deg) translate(-3em, 5em);
    }
  }

  &.vegetable1 {
    top: -4em;
    left: auto;
    right: -21.9em;
    width: 25.3em;
    height: 18.2em;
  }
  &.copy_1 {
    width: 25.3em !important;
  }
  &.vegetable2 {
    left: -6em;
    top: 0.4em;
    width: 11.6em;
    height: 10em;
  }
  &.copy_2 {
    width: 11.6em !important;
  }
  &.vegetable3 {
    display: none;
  }
  &.vegetable4 {
    left: -9.2em;
    top: auto;
    bottom: -5.8em;
    width: 15.5em;
    height: 18.7em;

    &_case {
      left: -4.2em;
      //top: auto;
      //bottom: -3em;
      //width: 28.8em;
      //height: 24.3em;
    }
  }
  &.copy_4 {
    width: 15.5em !important;
  }
  &.vegetable5 {
    top: 12.9em;
    left: 50%;
    margin-left: -14.8em;
    width: 12em;
    height: 6.8em;
  }
  &.copy_5 {
    width: 12em !important;
  }
  &.vegetable6 {
    top: auto;
    bottom: 4.1em;
    left: 3em;
    width: 6em;
    height: 13.8em;
    margin-left: 0;
  }
  &.copy_6 {
    width: 6em !important;
  }

}

@media (min-width: $tablet-portrait) {

  .vegetables {

    &.vegetable1 {
      top: 0;
      left: auto;
      right: -16.9em;
    }
    &.vegetable2 {
      left: -3em;
      top: 2.4em;
    }
    &.vegetable4 {
      left: -5.2em;
      top: auto;
      bottom: -6.8em;
    }
    &.vegetable5 {
      top: 12.9em;
      left: 50%;
      margin-left: -20.8em;
    }
    &.vegetable4_copy {
      top: -11.9em;
      bottom: auto;
    }

  }

}

@media (min-width: $desktop) {

  .vegetables {

    &.vegetable1 {
      top: -18em;
      left: auto;
      right: -29em;
      width: 53.3em;
      height: 38.2em;
    }
    &.copy_1 {
      width: 53.3em !important;
    }
    &.vegetable2 {
      left: -8.6em;
      top: -9.5em;
      width: 24.6em;
      height: 21em;
    }
    &.copy_2 {
      width: 24.6em !important;
    }
    &.vegetable3 {
      display: block;
      top: auto;
      bottom: -2.3em;
      left: auto;
      right: -12.6em;
      width: 21.3em;
      height: 22.8em;

      &_case {
        bottom: -4.1em;
        right: -5em;
        width: 20.4em;
        height: 17.8em;
      }
    }
    &.copy_3 {
      width: 21.3em !important;
    }
    &.vegetable4 {
      left: -5.6em;
      top: auto;
      bottom: -6.5em;
      width: 34em;
      height: 30.7em;

      &_case {
        left: -1.7em;
        top: auto;
        bottom: -3em;
        width: 28.8em;
        height: 24.3em;
      }
      &.vegetable4_1 {
        bottom: -13em;
      }
    }
    &.copy_4 {
      width: 34em !important;
    }

    &.vegetable5 {
      top: 8.5em;
      left: 4.4em;
      width: 27em;
      height: 13.8em;
      margin-left: 0;
    }
    &.copy_5 {
      width: 27em !important;
    }
    &.vegetable6 {
      top: 15.1em;
      left: 3em;
      width: 9em;
      height: 13.8em;
      margin-left: 0;
    }
    &.copy_6 {
      width: 9em !important;
    }
  }
}
